* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    height: 20px;
    margin: 0 auto;
}
.div1 ul{
    list-style: none;
    display: flex;
    line-height: 20px;
    gap: 15px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
a:link {
    color: black;
    text-decoration: none;
}
#reg a:link, a:visited{
    width: 60px;
    height: 30px;
    background-color: blue;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#reg a:hover, a:active {
    background-color: gray;
    color: black;
}
.reg a:link, a:visited{
    width: 70px;
    height: 30px;
    background-color: #c5b8b7;
    color: black;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.reg a:hover, a:active {
    background-color: gray;
    color: black;
}
.div1 img{
    width: 190px;
    height: 90px;
    margin-left: 300px;
}
.div2{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    background-color:black;
    text-align: justify;
    font-size: 25px;
    
}
.div2 img{
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; 
    text-shadow: 10px;
}
.div2 h1{
    margin-top: 60px;
    margin-left: 200px;
}
.div2 p{
    margin-top: 20px;
    margin-left: 200px;
}
.div3{
    margin-top: 10px;
    height: 100px;
}
.div3 ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    line-height: 20px;
    gap: 25px;
    margin-left: 290px;
}
.div3 img{
    width: 100px;
    height: 40px;
    margin-left: 30px;
}
.container{
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;  
    height: 450px;
    background-color: #cccc;
}
.column{
    padding: 5px;
    margin: 5px;
}
#col a:link, a:visited{
    width: 90px;
    height: 30px;
    background-color: blue;
    color: whitesmoke;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#col a:hover, a:active {
    background-color: gray;
    color: black;
}
#column1{
    grid-row: 1 / 4;
    width:50%;
    height: 150px;
    margin-left: 50px;
    list-style: none;
    
}
#column2, #column3, #column4{
    width: 60%;
    border: 1px solid white;
    height: 70%;
    background-color: white;
}

#column2 img{
    width: 80px;
    height: 80px;
}
#column2, ul{
    margin: 5px;
    margin-left: 0;
    list-style: none;
    display: flex;
    line-height: 20px;
    gap: 25px;
}
#column3 img{
    width: 80px;
    height: 80px;
}
#column3 ul{
    margin: 5px;
    margin-left: 0;
    list-style: none;
    display: flex;
    line-height: 20px;
    gap: 25px;
}
#column4 img{
    width: 80px;
    height: 80px;
}
#column4 ul{
    margin: 5px;
    margin-left: 10px;
    list-style: none;
    display: flex;
    line-height: 20px;
    gap: 25px;
}
.container button{
    height: 25px;
    background-color: blue;
    color: white;
}
table, tr, td{
    border-collapse: collapse;
}
.div5{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}
.box {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 300px;
}
.box1{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
}
.box1 img{
    width: 50px;
    height: 50px;
}
/* #box1 h6{
    margin-top: 70px;
} */
.div6{
    margin-top: -90px;
    margin-right: 60px;
    float: right;
    list-style: none;
}
.div6 button{
    height: 25px;
    background-color: blue;
    color: white;
}
.div7{
    margin-top: -20px;
    width: 100%;
    height: 300px;
    background-image: url(images/bckgrd.jpg);
    display: flex;
}
.okay{
    margin-left: 150px;
    padding-top: 70px;
}
.boxes {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
    margin-top: 20px;
    
}
.box2{
    width: 110px;
    height: 110px;
    border: 0.5px solid black;
    background-color: grey;
}
.box2 h4{
    margin-top: 30px;
}
.box2 p{
    margin-top: 30px;
}
.A1{
    margin-top:-20px;
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
}
.A2{
    margin-top: 20px;
    text-align: center;
}
.A3 p{
    margin-left: 10px;
}
.A3 h1{
    margin-top: 20px;
    font-size: xx-large;
}
.A4{
    margin-top: 30px;
    margin-left: 400px;
    display: flex;
}
.A4 img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.ok{
    background-color: white;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
}
#ok{
    margin-top: 30px;
}
#ok1{
    margin-top: 20px;
}
.span1{
    width: 30%;
    height: 200px;
    margin-top: 40px;
    text-align: justify;
    margin-left: 500px;
    background-color: white;
    
}
.span1 h5{
    padding-top: 30px;
    margin-left: 30px;
}
.span1 h6{
    padding-top: 30px;
    margin-left: 30px;
}

.span1 p{
    padding-top: 30px;
    margin-left: 30px;
}
.footer{
    border-top: 1px solid black;
    background-color: #cccdcc;
}
.foo1{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.foo1 img{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
}
.foo1 p{
    margin-left: 50px;
    text-align: left;
}
.foo1 h3{
    text-decoration: underline;
}
.foo1 button{
    margin-left: 50px;
    background-color: #cccdcc;
    color: blue;
    border: #cccdcc;
}

